<md-card>
  <md-card-header>
    <md-card-title>
      <h1>Widgets</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list *ngFor="let widget of widgets">
      <md-list-item (click) = "selected.emit(widget)">
        <h6 md-line> {{widget.name}}</h6>
        <button md-icon-button (click)="deleted.emit(widget);$event.stopImmediatePropagation()">
          <md-icon>close</md-icon>
        </button>
        <p md-line>
          {{widget.description}}
        </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
